<div class="container mx-auto py-8">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    <div
      class="card card-compact w-full bg-base-100 shadow-xl"
      *ngFor="let pro of products"
    >
      <figure><img [src]="pro.image" class="w-[100px]" /></figure>
      <div class="card-body">
        <h2 class="card-title">{{ pro.title }}</h2>
        <p>If a dog chews shoes whose shoes does he choose?</p>
        <div class="card-actions justify-end">
          <button class="btn bg-green-400" [routerLink]="['/products/', pro._id]">Chi tiết</button>
        </div>
      </div>
    </div>
  </div>
</div>
